@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        background: $main-color;
        border-radius: 100%;
        z-index: -1;
        top: -25%;
        left: 0px;
    }
}
@mixin before_circle-litle {
    &:before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        background: $main-color;
        border-radius: 100%;
        z-index: 5;
        top: 20%;
        left: -7%;
    }
}