.skills {
    padding-top: 120px;
    &__wrapper {      
        padding: 60px 10px 120px 10px; 
    }
    &__column {
        display: grid;
        grid-template: repeat(2, minmax(270px, auto)) / repeat(4, 270px);
        grid-gap: 13px;
    }
    &__item {
        padding: 35px 29px 25px 30px;
        border: 1px solid $black-color;
        border-radius: 10px;
        &-logo {
            max-width: 55px;
            img {
                width: 55px;
            }
        }
        &-title {
            margin-top: 15px;
            font-size: 14px;
            line-height: 21px;
            font-weight: 500;
        }
        &-body {
            margin-top: 15px;
            font-size: 12px;
            line-height: 18px;
        }
    }
    .statistic {
        &__wrapper {
            padding-bottom: 120px;
        }
        &__column {
            display: grid;
            grid-template: repeat(2, minmax(70px, auto)) / repeat(3, 350px);
            column-gap: 45px;
            row-gap: 35px;
        }   
        &__item {
            &-head {
                display: flex;
                justify-content: space-between;
                align-items: space-between;
                font-weight: 500;
                font-size: 14px;
                position: relative;
                @include before_circle

            }
            &-title {
                padding: 1px 0 0 13px;
            }
            &-line {
                margin-top: 20px;
                width: 350px;
                height: 14px;
                background-color: #E8E4DE;
                border-radius: 4px;
                span {
                    display: block;
                    height: 100%;
                    background-color: $main-color;
                    border-radius: 4px;
                }
            }

        }
    }
}
