.title {
    color: $black-color;
    font-weight: 700;
    font-size: 36px;
    &_fz14 {
        font-size: 14px;
    }
    &_fz16 {
        font-size: 16px;
        font-weight: 500;
    }
    &_fz20 {
        font-size: 20px;
    } 
    &_fz36 {
        font-size: 36px;
    }
    &_fz96 {
        font-size: 96px;
        span {
            font-weight: 500;
            font-size: 52px;
        }
    }
    &__section-title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__section-subtitle {
        text-align: center;
    }

} 